@import '@fontsource/inter/latin.css';
@import 'modern-normalize/modern-normalize.css';

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: inherit;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.button {
  background: #828282;
  color: #FFFFFF;
  border-radius: 10px;
  padding: 0.50rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
.button.button-primary {
  background: #2D9CDB;
}

@media (prefers-color-scheme: dark) {
  .button {
    background: #4F4F4F;
  }
  .button.button-primary {
    background: #2F80ED;
  }
}
input, select, textarea {
  width: 100%;
  padding: 0.50rem;
  border: 1px transparent solid;
  border-radius: 20px;
  margin-bottom: 1rem;
}
